<ion-view view-title="اشتراكات منتهية">
  <ion-content class="appContent">
    <div class="row header">
    	<div class="col col-10">#</div>
    	<div class="col">اسم المشترك</div>
    	<div class="col">رقم الموبايل</div>
    	<div class="col">رقم العضوية</div>
    	<div class="col">تاريخ بداية الاشتراك</div>
    	<div class="col">تاريخ انتهاء الاشتراك</div>
    	<div class="col">لوكر</div>
    </div>
    <!-- ngrepeat will be located inside parent. children will have attributes of it. -->
    <div class="row">
    	<div class="col col-10">1</div>
    	<div class="col">test</div>
    	<div class="col">test</div>
    	<div class="col">test</div>
    	<div class="col">test</div>
    	<div class="col">test</div>
    	<div class="col">test</div>
    </div>
  </ion-content>
</ion-view>