<ion-view view-title="البحث">
<ion-content class="appContent">
<div class="list">
	<label class="item item-input searchBox">
		<i class="icon ion-search placeholder-icon searchIcon"></i>
		<input type="text" placeholder="البحث" >
	</label>

	<label class="item item-input">
		<span class="input-label">بحث بــ</span>
		<ion-checkbox>الاسم</ion-checkbox>
		<ion-checkbox>رقم الموبايل</ion-checkbox>
		<ion-checkbox>رقم الاشتراك</ion-checkbox>
		<ion-checkbox>تاريخ انتهاء الاشتراك</ion-checkbox>
	</label>
</div>
</ion-content>
</ion-view>